@use 'distance.scss' as *;

.filter {
  display: grid;
  row-gap: distance(1);
  align-content: start;

  .filter-options {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    gap: distance(1);
  }

  .mat-chip.mat-standard-chip::after {
    background: none;
  }
}
